apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: shop-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: gcr.io/dat515-478210/backend:v1 # replay with real dat515-478210
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: backend-secrets
          resources:
            requests:
              cpu: '100m'
              memory: '256Mi'
            limits:
              cpu: '500m'
              memory: '512Mi'
